In [2]:
import pandas as pd
import psycopg2
import pandas.io.sql as psql

conn = psycopg2.connect(user = "postgres",
                                  password = "postgres", # change yourpassword to your password for postgres
                                  host = "localhost",
                                  port = 5432,
                                  database = "healthcare_bluebook")
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Use dask to read the hopteaming data

In [4]:
import dask.dataframe as dd
from dask.distributed import Client

In [15]:
client = Client()
client

/opt/anaconda3/lib/python3.7/site-packages/distributed/dashboard/core.py:72: UserWarning:
Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the diagnostics dashboard on a random port instead.
  warnings.warn("\n" + msg)

In [6]:
hop_teaming = dd.read_csv('data/DocGraph_Hop_Teaming_2017_Non_Commercial/DocGraph_Hop_Teaming_2017.csv')

In [7]:
hop_teaming_filterd = hop_teaming[(hop_teaming.transaction_count > 50) & (hop_teaming.average_day_wait < 50)]

In [8]:
hop_teaming_filterd.to_csv('hop_teaming_filterd.csv', index = False, single_file = True)

['/Volumes/NSS/healthcare_bluebook/dq6-hcbb-healthcare_busters/hop_teaming_filterd.csv']

In [13]:
hop_team_filterd=pd.read_csv('data/hop_teaming_filterd.csv')

In [14]:
hop_team_filterd.head()

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
0,1033142146,1000000004,491,535,10.232,36.558
1,1013977990,1003000126,134,145,27.352,51.137
2,1013996669,1003000126,91,92,35.152,68.009
3,1033102504,1003000126,52,64,15.328,38.300
4,1003029620,1003000126,111,121,33.058,58.981

In [3]:
npi = psql.read_sql("""SELECT * FROM npi_info;""", conn)

In [4]:
npi.to_pickle('data/npi.pkl')

In [5]:
npi_info=pd.read_pickle('data/npi.pkl')

In [7]:
npi_info.head()

,NPI,Entity_Type_Code,Employer_Identification_Number,Provider_Organization_Name,Provider_Last_Name,Provider_First_Name,Provider_Middle_Name,Provider_Name_Prefix,Provider_Name_Suffix,Provider_Credential,...,Provider_License_Number_State_Code_13,Healthcare_Provider_Primary_Taxonomy_Switch_13,Healthcare_Provider_Taxonomy_Code_14,Provider_License_Number_14,Provider_License_Number_State_Code_14,Healthcare_Provider_Primary_Taxonomy_Switch_14,Healthcare_Provider_Taxonomy_Code_15,Provider_License_Number_15,Provider_License_Number_State_Code_15,Healthcare_Provider_Primary_Taxonomy_Switch_15
0,1679576722,1,None,None,WIEBE,DAVID,A,None,None,M.D.,...,None,None,None,None,None,None,None,None,None,None
1,1588667638,1,None,None,PILCHER,WILLIAM,C,DR.,None,MD,...,None,None,None,None,None,None,None,None,None,None
2,1497758544,2,<UNAVAIL>,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,1306849450,1,None,None,SMITSON,HAROLD,LEROY,DR.,II,M.D.,...,None,None,None,None,None,None,None,None,None,None
4,1215930367,1,None,None,GRESSOT,LAURENT,None,DR.,None,M.D.,...,None,None,None,None,None,None,None,None,None,None

#To see all the rows and columns in a huge dataset:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [10]:
npi_info=npi_info.query('Healthcare_Provider_Primary_Taxonomy_Switch_1=="Y" | \
               Healthcare_Provider_Primary_Taxonomy_Switch_2=="Y"')

In [11]:
taxo_df=pd.read_csv('data/nucc_taxonomy_200.csv')